# Default owners for everything in the repo
* @Alain275

# Infrastructure code
/terraform/ @nshimy
/ansible/ @nshimy

# CI/CD pipelines
/.github/workflows/ @Baraka8

# Security configurations
/security/ @bajenezaaimable12
