name: DAST Scan (OWASP ZAP)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 0' # Weekly scan at 2 AM

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://${{ secrets.APP_URL }}' # Needs to be set in secrets after deployment
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
